*{
    font-family: AR JULIAN, Impact, Rockwell Extra Bold, sans-serif;
    /*background-color: #343A40;
    color: white;*/
    font-size: 14pt;
}
html,
body {
    /*background-color: #343A40;
    color: white;*/
    
}

header{
    background-color: #1f2226;
    color: white;
    margin-top: 0px;
    height: 80px;
    font-size: 22pt;
    line-height: 80px;
    text-align: center;
}

#wrapper{
/*    background-color: #343A40;*/
    width: 900px;
    border: 1px solid black;
    margin: 30px auto;
    /*background-color: white;*/
    box-shadow: 0 0 20px 7px black;
    text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  /* margin: 10px; */
    /*border-color: white;
    background-color: #343A40;*/
}

table,
th,
td {
  border: 1px solid black;
}

th {
  height: 60px;
}

td {
  height: 30px;
}

label{
    margin-left: 320px;
}
#symbols{
    margin-top: 20px;
    margin-right: 250px;
}
div:nth-of-type(1){
    display: inline-block;
}
canvas{
    border: 1px solid black;
}
#grafico{
    width: 900px;
    border: 1px solid black;
    margin: 30px auto;
    background-color: white;
    box-shadow: 0 0 20px 7px black;
    text-align: center;
}
#selectSector{
    height: 30px;
    
}